@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.card {
  width: 200px;
  height: 300px;
  margin: 0 auto;
}
#demo {
  font-size: 4.5rem;
  margin-top: -90px;
  margin: 0 auto;
}
#suit {
  font-size: 3rem;
  margin-bottom: -50px;

  margin-left: 145px;
}
#suitTwo {
  font-size: 3rem;
}
